USE [master]
GO
/****** Object:  Database [DBKnjiznica]    Script Date: 2/1/2023 1:08:44 AM ******/
CREATE DATABASE [DBKnjiznica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBKnjiznica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBKnjiznica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBKnjiznica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBKnjiznica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBKnjiznica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBKnjiznica]
GO
USE [DBKnjiznica]
GO
/****** Object:  Table [dbo].[ClanKnjiznice]    Script Date: 2/1/2023 1:08:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanKnjiznice](
	[KnjiznicaID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[KontaktBroj] [varchar](50) NOT NULL,
	[ClanarinaVrijediDo] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knjiga]    Script Date: 2/1/2023 1:08:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiga](
	[KnjiznicaID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NazivKnjige] [varchar](50) NOT NULL,
	[Pisac] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knjiznica]    Script Date: 2/1/2023 1:08:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjiznica](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NazivKnjiznice] [varchar](50) NOT NULL,
	[AdresaKnjiznice] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posudba]    Script Date: 2/1/2023 1:08:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posudba](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KnjiznicaID] [int] NOT NULL,
	[KnjigaID] [int] NOT NULL,
	[ClanID] [int] NOT NULL,
	[ZaposlenikID] [int] NOT NULL,
	[DatumPreuzimanja] [date] NOT NULL,
	[DatumVracanja] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposlenik]    Script Date: 2/1/2023 1:08:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposlenik](
	[KnjiznicaID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[KontaktBroj] [varchar](50) NOT NULL,
	[PocetakRada] [date] NOT NULL,
	[Sifra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClanKnjiznice] ON 

INSERT [dbo].[ClanKnjiznice] ([KnjiznicaID], [ID], [Ime], [Prezime], [Email], [KontaktBroj], [ClanarinaVrijediDo]) VALUES (1, 3, N'Ivo', N'Ivic', N'/', N'/', CAST(N'2000-02-02' AS Date))
INSERT [dbo].[ClanKnjiznice] ([KnjiznicaID], [ID], [Ime], [Prezime], [Email], [KontaktBroj], [ClanarinaVrijediDo]) VALUES (1, 4, N'ivan', N'zec', N'//', N'////', CAST(N'2000-02-02' AS Date))
INSERT [dbo].[ClanKnjiznice] ([KnjiznicaID], [ID], [Ime], [Prezime], [Email], [KontaktBroj], [ClanarinaVrijediDo]) VALUES (1, 5, N'ana', N'Ivic', N'email@email.com', N'/', CAST(N'2000-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[ClanKnjiznice] OFF
SET IDENTITY_INSERT [dbo].[Knjiga] ON 

INSERT [dbo].[Knjiga] ([KnjiznicaID], [ID], [NazivKnjige], [Pisac]) VALUES (1, 1004, N'snovi', N'Ivo')
INSERT [dbo].[Knjiga] ([KnjiznicaID], [ID], [NazivKnjige], [Pisac]) VALUES (1, 1006, N'Na drini cupirja', N'Andro')
INSERT [dbo].[Knjiga] ([KnjiznicaID], [ID], [NazivKnjige], [Pisac]) VALUES (1, 1007, N'Knjiga o moru', N'Mate')
SET IDENTITY_INSERT [dbo].[Knjiga] OFF
SET IDENTITY_INSERT [dbo].[Knjiznica] ON 

INSERT [dbo].[Knjiznica] ([ID], [NazivKnjiznice], [AdresaKnjiznice]) VALUES (1, N'Marko Marulic', N'Poljicka 40')
SET IDENTITY_INSERT [dbo].[Knjiznica] OFF
SET IDENTITY_INSERT [dbo].[Posudba] ON 

INSERT [dbo].[Posudba] ([ID], [KnjiznicaID], [KnjigaID], [ClanID], [ZaposlenikID], [DatumPreuzimanja], [DatumVracanja]) VALUES (1, 1, 1004, 3, 1, CAST(N'2002-02-02' AS Date), CAST(N'2002-02-02' AS Date))
INSERT [dbo].[Posudba] ([ID], [KnjiznicaID], [KnjigaID], [ClanID], [ZaposlenikID], [DatumPreuzimanja], [DatumVracanja]) VALUES (2, 1, 1004, 4, 1, CAST(N'2002-03-03' AS Date), CAST(N'2002-03-04' AS Date))
INSERT [dbo].[Posudba] ([ID], [KnjiznicaID], [KnjigaID], [ClanID], [ZaposlenikID], [DatumPreuzimanja], [DatumVracanja]) VALUES (4, 1, 1004, 5, 1, CAST(N'2022-02-01' AS Date), CAST(N'2022-02-03' AS Date))
SET IDENTITY_INSERT [dbo].[Posudba] OFF
SET IDENTITY_INSERT [dbo].[Zaposlenik] ON 

INSERT [dbo].[Zaposlenik] ([KnjiznicaID], [ID], [Ime], [Prezime], [Email], [KontaktBroj], [PocetakRada], [Sifra]) VALUES (1, 1, N'Pero', N'Peric', N'/', N'/', CAST(N'2000-02-02' AS Date), 1234)
SET IDENTITY_INSERT [dbo].[Zaposlenik] OFF
ALTER TABLE [dbo].[Zaposlenik] ADD  DEFAULT ((0)) FOR [Sifra]
GO
ALTER TABLE [dbo].[ClanKnjiznice]  WITH CHECK ADD FOREIGN KEY([KnjiznicaID])
REFERENCES [dbo].[Knjiznica] ([ID])
GO
ALTER TABLE [dbo].[Knjiga]  WITH CHECK ADD FOREIGN KEY([KnjiznicaID])
REFERENCES [dbo].[Knjiznica] ([ID])
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD FOREIGN KEY([ClanID])
REFERENCES [dbo].[ClanKnjiznice] ([ID])
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD FOREIGN KEY([KnjigaID])
REFERENCES [dbo].[Knjiga] ([ID])
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD FOREIGN KEY([KnjiznicaID])
REFERENCES [dbo].[Knjiznica] ([ID])
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenik] ([ID])
GO
ALTER TABLE [dbo].[Zaposlenik]  WITH CHECK ADD FOREIGN KEY([KnjiznicaID])
REFERENCES [dbo].[Knjiznica] ([ID])
GO
USE [master]
GO
